



.nav-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  width: 60%;
  flex-direction:row;
  justify-content: left;
  min-height: 6rem;
  border: 10px solid wheat;
  align-items: center;
  font-size: large;

  
}

.nav-list li{
flex: auto;
text-align: center;
border: 5px solid rebeccapurple;

 


}