.container{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  background-color: aqua;
 
}
.item{
  flex-grow: 1;
  flex-shrink: 0;
 padding: 3rem;
 background-color:yellowgreen;
 text-align: center;
 border-radius: 10px;

 
}
