.btn1,
.btn2{
  font-size: 28px;
  font-family: 'Times New Roman', Helvetica, sans-serif;
}
.btn1{
  color: white;
  padding: 10px;
  background-color: black;
}

.btn2{
  background-color: yellow;
  padding: 10px;
}